.form-signup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130vh;
    background-image: 
        linear-gradient( rgba(0, 0, 0, 0.5),  rgba(0, 0, 0, 0.5)),
        url('/images/login.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card-signup{
    position: absolute;
    top: 110px;
    left: 35%;
    width: 430px;
    min-height: 65vh;
    background: rgba(0, 0, 0, 0.322);
    color: white;
    border-radius: 10px;
    border: none;
    transition: min-height 0.3s ease-in-out; /* אנימציה חלקה */

}
.input-signup{

    background: transparent;
    /* border:"1px solid teal"; */
    color:white

}

.git{
    height: 200px;
    background-color: blue;
}


.error-container {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 15px;
}

.error-message {
    font-size: 14px;
    color: white;
    /* background: rgba(255, 0, 0, 0.8); */
    padding: 8px 12px;
    border-radius: 5px;
    text-align: center;
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-5px); }
    to { opacity: 1; transform: translateY(0); }
}

