.add-to-cart{
    margin-bottom: 20px;
}


.post {
  position: relative;
  width: 500px;
  height: 500px;
  overflow: hidden;
}

.post img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.8);
}

.post .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.3), transparent);
}

.post .triangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 500px 0 0 500px;
  border-color: #00CED1 transparent transparent transparent;
}

.post .text {
  position: absolute;
  top: 50px;
  left: 30px;
  color: white;
  /* font-family: sans-serif; */
}

.post .text h1 {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 10px;
}

.post .text p {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.post .text button {
  background-color: white;
  color: black;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.post .text a {
  color: white;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

.post .line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid white;
  transform: rotate(-45deg);
  transform-origin: top left;
}