.carousel-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.courses-wrapper {
    display: flex;
    justify-content: center;
    gap: 35px;
    width: 100%;
    margin-top: 5%;
}

.course-card {
    position: relative;
    width: 220px;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease;
}

.course-card:hover {
    transform: translateY(-5px);
}

.course-image {
    width: 250px;
    height: 300px;
    object-fit: cover;
}

.course-details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}

.course-details.show {
    opacity: 1;
}

.course-details h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #fff;
}

.course-details p {
    width: 200px;
    font-size: 1em;
    margin-bottom: 5px;
    line-height: 1.6;
}

.course-details .course-price {
    font-weight: bold;
    color: white;
    margin-top: 10px;
}

.course-title-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 10px;
    text-align: center;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-size: 1em;

}

.course-price {
    font-weight: bold;
    margin-top: 10px;
}

.carousel-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.courses-wrapper {
    display: flex;
    overflow: hidden;
    width: 100%;
}

.carousel-arrow {
    background: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    outline: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.carousel-arrow:hover {
    transform: translateY(-50%) scale(1.1);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    color: grey;
}

.carousel-arrow:active {
    transform: translateY(-50%) scale(0.95);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.carousel-arrow.left {
    left: 70px;
}

.carousel-arrow.right {
    right: 70px;
}